@media all and (max-width: 480px) {
 #home {
    flex-direction: column;
 }  
 
 .sushi, .batman {
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
 }

 .projects {
    flex-direction: column;
 }

 .skill2 {
    width: 80%;
 }

 .Text {
    padding-left: 0;
 }
 
}

